body{
  background: rgba(0, 0, 255, 0.418);
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  animation: animate infinite 10s
}


@keyframes animate {
    10% {
      background: rgba(0, 0, 255, 0.418)
    }
    
    20% {
      background: rgba(0, 0, 255, 0.507)
    }

    30% {
      background: rgba(0, 0, 255, 0.534)
    }

    40% {
      background: blue
    }

   99% {
    background: rgb(113, 89, 193);
   }
   100% {
    background: rgba(0, 0, 255, 0.418)
  }
    
    
}

h1{
  text-align: center; 
  font-size: 14pt;
  text-shadow: 0px 0px 4px;
  font-weight: 800;
}

.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  color: blue;
  text-decoration: underline;
  border: none;
  margin: 10px;
  border-radius: 5px;
  height: 25px;
  font-size: 12pt;
}

p{
  text-align: center;
  margin: 10px 0px 10px 0px;
}

ul{
  margin: 20px 0px 0px 0px
}

li{
  margin: 10px
}