body{
  background: rgb(113, 89, 193);
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}

h1{
  text-align: center; 
  font-size: 14pt;
  text-shadow: 0px 0px 4px;
  font-weight: 800;
}

.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  color: blue;
  text-decoration: underline;
  border: none;
  margin: 10px;
  border-radius: 5px;
  height: 25px;
  font-size: 12pt;
}

p{
  text-align: center;
  margin: 10px 0px 10px 0px;
}

ul{
  margin: 20px 0px 0px 0px
}

li{
  margin: 10px
}